<h1>Please Log In</h1>

<form action="/login" method="post">
    <p>Username: <input required type="text" name="username" </p>
    <p>Password: <input required type="password" name="password"</p>
    <input type="Submit" value="Log in">
</form>